{% extends "layout.html" %}

{% block content %}
{% for event in events %}


<article class="p-5 mb-4 bg-light rounded-3">
  <div class="content-section">
      <a class="mr-2" href="#">{{ BPs.query.filter_by(id=event.bp_id).first().name  }}  </a> <!-- put the author of the event here, have to query it cause only have bp's id-->
      <small class="text-muted">{{ event.date}}</small>

      <h2><a class="article-title" href="events/{{ event.id }}">{{ event.name }}  <text><h6>Read the Feedbacks <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
</svg>:</h6></text> </a></h2>


    <p class="article-content">{{ event.description  }}
        <br>
        Number of Participants: {{ event.numofPeople }}
    </p>

      {% if session.get('student') == True %}
          {% if not Student.query.join(partecipation).join(Event).filter( and_( partecipation.c.student_id == session.get('id'), partecipation.c.event_id == event.id) ).first() %}
             <a align="right"> <form method="POST">
              {{  confirmParticipation.hidden_tag()  }}
                {{ confirmParticipation.event_id(value=event.id, style="display:none;") }}
                    <fieldset class="form-group">
                    <div class="form-group ">
                        {{ confirmParticipation.submitC(class="btn btn-primary") }}
                    </div>
                        </fieldset>
              </form></a>
          {% else %}
              <a align="right"> <form method="POST">
                    {{ deleteParticipation.hidden_tag() }}
                    {{ deleteParticipation.event_id(value=event.id, style="display:none;") }}
                    <fieldset class="form-group">
                    <div class="form-group ">
                        {{ deleteParticipation.submitD(class="btn btn-danger") }}
                    </div>
                    </fieldset>
               </form></a>
          {% endif %}
          {% if session.get('student') == True %}
           {#% if not Student.query.join(feedback).join(Event).filter( and_( feedback.c.student_id == session.get('id'), feedback.c.event_id == event.id) ).first() %#}
             <a align="right"> <form method="POST">
              {{  LeaveFeedback.hidden_tag()  }}
                {{ LeaveFeedback.event_id(value=event.id, style="display:none;") }}
                    <fieldset class="form-group">
                    <div class="form-group ">
                        {{ LeaveFeedback.submitE(class="btn btn-light") }}
                    </div>
                        </fieldset>
              </form></a>
          {% endif %}
          {#% endif %#}


       {% endif %}
    </div>
  </div>
</article>
  </div>
</article>
{% endfor %}
{% endblock  %}