{% extends "layout.html" %}

{% block content %}
    <div class="content-section">


     <img class="img-rounded " src="{{url_for('static', filename='TOUCH-main.png')}}" align="center" width="40%">

         <form method="POST" action="" class="form">
            {{  formpage.hidden_tag()}}
            <fieldset class="form-group">
                <legend class="border-botton mb-4">Registration for KeepNTouch!</legend>
                <div class="form-group ">
                    {{ formpage.name(class="form-control" , id="name", required="required", type="text", value="", placeholder="Name") }}
                    {% if formpage.name.errors %}
                        {{ formpage.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for eroor in form.name.errors %}
                            <span>{{ eroor }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                    {% endif %}
                </div>
                <div class="form-check form-check-inline">
                    {{ formpage.usertype.label(class="form-check-label") }}
                        <div class="invalid-feedback">
                        {% for eroor in formpage.usertype.errors %}
                            <span>{{ eroor }}</span>
                        {% endfor %}
                        </div>

                    {{ formpage.usertype(class="form-check-input") }}

                </div>
                <div class="form-group">
                    {{ formpage.email(class="form-control" , id="email", required="required", type="text", value="", placeholder="Email") }}
                    {% if formpage.email.errors %}
                        {{ formpage.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for eroor in formpage.email.errors %}
                            <span>{{ eroor }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                    {% endif %}

                </div>

                <div class="form-group">
                    {{ formpage.university(class="form-control" , id="university", type="text", value="", placeholder="University (Leave blank if you're an activity owner)") }}

                </div>

                <div class="form-group">

                    {{ formpage.password(class="form-control" , id="password", required="required", type="password", value="", placeholder="Password") }}
                    {% if formpage.password.errors %}
                        {{ formpage.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for eroor in formpage.password.errors %}
                            <span>{{ eroor }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ formpage.password_con(class="form-control", id="password_con", required="required", type="password", value="", placeholder="Confirm password") }}
                    {% if formpage.password_con.errors %}
                        {{ formpage.password_con(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                        {% for eroor in formpage.password_con.errors %}
                            <span>{{ eroor }}</span>
                        {% endfor %}
                        </div>
                    {% else %}
                    {% endif %}
                </div>
                <div class="form-group ">
                    {{ formpage.submit(class="btn btn-light") }}
                </div>

            </fieldset>

        </form>
    </div>
    </div>



</div>
</div>
</div>
{% endblock  %}